/*
html, body {
    height: 100%;
    overflow: hidden;
    margin: 0;
}
#content {
    height: 100%;
    overflow: hidden;
    margin: 0;
}
#left {
    float: left;
    width: 70%;
    height: 100%;
    overflow: scroll;
    box-sizing: border-box; 
    padding: 0.4em;
}
#right {
    float: right;
    width: 30%;
    height: 100%;
    overflow: scroll;
    box-sizing: border-box;
    padding: 0.4em;
}
*/
